:root {
  --vh: 1vh;
  --swiper-pagination-color: #ff8c42;
}
html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* https://github.com/ant-design/ant-design/issues/12479 */
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: 24px;
  width: 24px;
  height: 24px;
  left: 10px;
  z-index: 2;
  color: black;
}
.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: 24px;
  width: 24px;
  height: 24px;
  right: 10px;
  z-index: 2;
  color: black;
}
