.title {
  color: white;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
}
@media screen and (max-width: 576px) {
  .title {
    font-size: 24px;
  }
}
.table {
  word-break: keep-all;
}
.table td:nth-child(1) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(2) {
  width: 150px;
  max-width: 150px;
}
.table td:nth-child(3) {
  width: 120px;
  max-width: 120px;
}
.table td:nth-child(4) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(5) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(6) {
  width: 120px;
  max-width: 120px;
}
.table td:nth-child(7) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(8) {
  width: 300px;
  max-width: 300px;
}
.table td:nth-child(9) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(10) {
  width: 300px;
  max-width: 300px;
}
.table td:nth-child(11) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(12) {
  width: 300px;
  max-width: 300px;
}
.table td:nth-child(13) {
  width: 300px;
  max-width: 300px;
}
.table td:nth-child(14) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(15) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(16) {
  width: 300px;
  max-width: 300px;
}
.table td:nth-child(17) {
  width: 100px;
  max-width: 100px;
}
.table td:nth-child(18) {
  width: 300px;
  max-width: 300px;
}
.table th {
  white-space: nowrap;
}
.scoreTCell {
  display: block;
  font-size: 24px;
  text-align: center;
}
.booleanTCell {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.formButtonGroup {
  text-align: right;
}
.formButtonGroup button:not(:last-child) {
  margin-right: 8px;
}
.beefCommentForm:invalid button[type="submit"] {
  pointer-events: none;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}
